<div class="jumbotron">
  <h3>
    ĐĂNG KÍ ĐỂ NHẬN THÊM THÔNG TIN VỀ CHÚNG TÔI
  </h3>
  <form>
    <input type="text" placeholder="Địa chỉ email của bạn" class="form-control">
    <input type="text" placeholder="Số điện thoại của bạn" class="form-control">
    <input type="submit" class="btn btn-danger" value="Đăng kí ngay" >
  </form>
  <hr style="border-top: 1px solid lightgrey;margin-top: 5rem; width:50%">
  <div class="info-company">
    <div class="col-30-info-company area-1">
        <img src="{{ url_for('static', filename='images/LoGoPhongKham.png')}}" class="logo-footer" alt="logo-footer">
        <br><br><p>Hệ thống Phòng khám ANKHANG được điều hành bởi Công ty TNHH ANKHANG Việt Nam. Những thông tin y khoa trên trang web chỉ dùng để tham khảo, bạn nên liên hệ bác sĩ để được tư vấn trước khi có bất cứ hành động nào.</p>
        <hr style="border-top: 1px solid white;width:50%">
        <p style="font-size:10px">Công ty TNHH ANKHANG Việt Nam <br>
            Số ĐKKD 0313149135 do Sở KHĐT Tp.HCM cấp ngày 01/01/2022</p>
    </div>
    <div class="col-30-info-company area-2">
      <h4>Hệ Thống Phòng Khám</h4>
      <h7>Phòng khám Quận 1</h7>
      <p>Lầu 2, Tòa nhà Savico, 66-68 Nam Kỳ Khởi Nghĩa, P. Nguyễn Thái Bình, Q. 1, TP.HCM</p>
      <h7>Phòng khám Quận 7</h7>
      <p>Lầu 2, Tòa nhà Savico, 66-68 Nam Kỳ Khởi Nghĩa, P. Nguyễn Thái Bình, Q. 1, TP.HCM</p>
      <h7>Phòng khám Quận Tân Bình</h7>
      <p>Lầu 2, Tòa nhà Savico, 66-68 Nam Kỳ Khởi Nghĩa, P. Nguyễn Thái Bình, Q. 1, TP.HCM</p>
      <h4>Lịch làm việc</h4>
      <h7>Thứ 2 - Thứ 6: 8:00 - 20:00</h7><br>
      <h7>Thứ 7: 8:00 - 17:00 (Tất cả các chuyên khoa)</h7>
      <p>- 8:00 - 17:00 (Tất cả các chuyên khoa)</p>
      <p>- 17:00 - 20:00 (Chuyên khoa Nhi & Xét nghiệm)</p>
      <h7>Chủ nhật: 8:00 - 12:00 (Chuyên khoa Nhi & Xét nghiệm)</h7>
      <h7>Giờ nghỉ trưa: 12:00 - 13:00</h7>

    </div>
    <div class="col-30-info-company area-3">
      <h4>Gói khám bệnh</h4>
      <a href="#">> Gói theo tháng</a><br>
      <a href="#">> Gói theo tháng</a><br>
      <a href="#">> Gói khám sức khỏe người lớn</a><br>
      <a href="#">> Gói khám sức khỏe trẻ em</a><br>
      <h4>Chính sách</h4>
      <a href="#">> Chính sách bảo mật</a><br>
      <a href="#">> Chính sách hoạt động</a><br>
      <h4>Liên hệ</h4>
      <a href="#">> Hotline: 000000000</a><br>
      <a href="#">> Email: admin@gmail.com</a><br>

    </div>
  </div>
</div>
